@charset "utf-8";

/* 레이아웃 공통서식 */
header{
  width:100%;
  height:50px;
  background:rgba(0,0,0,.8);
  position:fixed;
  z-index:1000;
  position:relative;
}
header > h1{text-align:center;}
header i.fas{position:absolute;top:14px;font-size:28px;color:#fff;}
header i.fa-bars{right:10px;}
header i.fa-user{left:10px;}
header i.fa-times{left:10px;}

/* 내비게이션 서식 */
header nav{
  position:fixed;top:0px;left:100%;
  width:100%;height:100vh;
  background:rgba(0,0,0,.8);
  z-index:2000;
  transition:0.5s;
}
header nav ul{
  padding-top:100px;
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
header nav ul li{
  width:98%;
  border-bottom:1px solid #fff;
  line-height:40px;
  margin-bottom:5px;
  text-indent:20px;
}
header nav a{
  display:block;
  color:#fff;
  text-transform: uppercase;
}
header nav ul li:first-child{text-align:right;padding-right:20px;}
header nav ul li:first-child a{display:inline-block;}

main{padding:20px 0px;}

footer{
  background:var(--base_txtColor);
  color:#fff;
}
footer > address{
  font-style:normal;
  text-align:center;line-height:40px;
}